<table class='table'>
  <thead>
    <tr>
      <th><a href='/instructions#subject-id'>Subject ID</a></th>
      <th><a href='/instructions#event-type'>Event Type</a></th>
      <th><a href='/instructions#start-time'>Start Time</a></th>
      <th><a href='/instructions#end-time'>End Time</a></th>
      <th><a href='/instructions#exposure-material-type'>Exposure Material Type</a></th>
      <th><a href='/instructions#disease-type'>Disease Type</a></th>
      <th><a href='/instructions#disease-stage'>Disease Stage</a></th>
      <th><a href='/instructions#specimen-type'>Specimen Type</a></th>
      <th><a href='/instructions#specimen-id'>Specimen ID</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:8<br>a line with no leading or trailing whitespace"></td>
      <td><a href='/terminology/IE:4'>birth</a></td>
      <td>1950</td>
      <td>1950</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:9<br>'' must be equal to or under 'process' from terminology.Parent"></td>
      <td>1950</td>
      <td>1950</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/IE:4'>birth</a></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:10<br>a line with no leading or trailing whitespace"></td>
      <td>1950</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/IE:4'>birth</a></td>
      <td>1950</td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:11<br>a line with no leading or trailing whitespace"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003304'>vaccination</a></td>
      <td>1960</td>
      <td>1960</td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:12<br>'DTwP' must meet one of: blank, under(terminology.Parent, &quot;material entity&quot;)">DTwP</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003317'>occurrence of infectious disease</a></td>
      <td>1970</td>
      <td>1972</td>
      <td><a href='/terminology/NCBITaxon:520'>Bordetella pertussis</a></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:13<br>'dengue fever' must meet one of: blank, under(terminology.Parent, disease)">dengue fever</td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="rule:15: The disease ontology ID must match the disease reported.<br>because 'dengue fever' is 'not(blank)', value must not be blank"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/IE:11'>study enrollment</a></td>
      <td>day</td>
      <td>day -30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day -30</td>
      <td>day -30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="rule:17<br>because '' is 'blank', a blank value (an empty string)">specimen:1-1</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003304'>vaccination</a></td>
      <td>day 1</td>
      <td>day 1</td>
      <td><a href='/terminology/VO:0000738'>DTaP vaccine (Diphtheria-Tetanus-Pertussis vaccine)</a></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="rule:12<br>because 'vaccination' is 'in(vaccination)', a blank value (an empty string)"><a href='/terminology/DOID:1116'>pertussis</a></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="field:14<br>'chronic' must meet one of: blank, under(terminology.Parent, &quot;disease stage&quot;)">chronic</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day 1</td>
      <td>day 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href='/terminology/OBI:0000655'>blood specimen</a></td>
      <td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="rule:18<br>because 'blood specimen' is 'not(blank)', value must not be blank"></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day 20</td>
      <td>day 20</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href='/terminology/OBI:0000655'>blood specimen</a></td>
      <td>specimen:1-2</td>
    </tr>
  </tbody>
</table>