<table class='table'>
  <thead>
    <tr>
      <th><a href='/instructions#event-group'>Event Group</a></th>
      <th><a href='/instructions#event-type'>Event Type</a></th>
      <th><a href='/instructions#exposure-material-type'>Exposure Material Type</a></th>
      <th><a href='/instructions#disease-type'>Disease Type</a></th>
      <th><a href='/instructions#disease-stage'>Disease Stage</a></th>
      <th><a href='/instructions#specimen-type'>Specimen Type</a></th>
      <th><a href='/instructions#specimen-id'>Specimen ID</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='/terminology/IE:3'>life process</a></td>
      <td><a href='/terminology/IE:4'>birth</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/IE:5'>death</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href='/terminology/IE:6'>healthcare process</a></td>
      <td><a href='/terminology/IE:7'>patient visit</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/IE:8'>hospital admission</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/IE:9'>hospital discharge</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href='/terminology/IE:10'>study process</a></td>
      <td><a href='/terminology/IE:11'>study enrollment</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>study exit</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class='table-success'>required</td>
      <td class='table-success'>required</td>
    </tr>
    <tr>
      <td>administration</td>
      <td><a href='/terminology/ONTIE:0003304'>vaccination</a></td>
      <td class='table-success'>required: <a href='/terminology/VO:1'>vaccine</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/ONTIE:0003315'>infectious challenge</a></td>
      <td class='table-success'>required: infectious agent</td>
      <td class='table-warning'>optional: infectious disease</td>
      <td class='table-warning'>optional</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>transplantation</td>
      <td class='table-success'>required: anatomical entity</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href='/terminology/ONTIE:0003322'>occurrence of disease</a></td>
      <td>infectious disease</td>
      <td class='table-success'>required: infectious agent</td>
      <td class='table-success'>required: infectious disease</td>
      <td class='table-success'>required</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/DOID:1205'>allergic disease</a></td>
      <td class='table-success'>required: allergen</td>
      <td class='table-success'>required: <a href='/terminology/DOID:1205'>allergic disease</a></td>
      <td class='table-success'>required</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/terminology/DOID:417'>autoimmune disease</a></td>
      <td></td>
      <td class='table-success'>required: <a href='/terminology/DOID:417'>autoimmune disease</a></td>
      <td class='table-success'>required</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>cancer</td>
      <td></td>
      <td class='table-success'>required</td>
      <td class='table-success'>required</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>exposure without disease</td>
      <td>asymptomatic infection</td>
      <td class='table-success'>required: infectious agent</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>exposure with immune reactivity</td>
      <td class='table-success'>required: allergen</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>documented exposure</td>
      <td class='table-success'>required: <a href='/terminology/BFO:0000040'>material entity</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>exposure to ubiquitous agent</td>
      <td class='table-success'>required: infectious agent</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>