<table class='table'>
  <thead>
    <tr>
      <th><a href='/instructions#subject-id'>Subject ID</a></th>
      <th><a href='/instructions#event-type'>Event Type</a></th>
      <th><a href='/instructions#start-time'>Start Time</a></th>
      <th><a href='/instructions#end-time'>End Time</a></th>
      <th><a href='/instructions#exposure-material-type'>Exposure Material Type</a></th>
      <th><a href='/instructions#disease-type'>Disease Type</a></th>
      <th><a href='/instructions#disease-stage'>Disease Stage</a></th>
      <th><a href='/instructions#specimen-type'>Specimen Type</a></th>
      <th><a href='/instructions#specimen-id'>Specimen ID</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><a href='/terminology/IE:4'>birth</a></td>
      <td>1950</td>
      <td>1950</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003304'>vaccination</a></td>
      <td>1960</td>
      <td>1960</td>
      <td><a href='/terminology/VO:0003106'>DTwP vaccine (diphtheria, tetanus and whole cell pertussis vaccine)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003307'>documented exposure without evidence for disease</a></td>
      <td>1970</td>
      <td>1972</td>
      <td><a href='/terminology/NCBITaxon:520'>Bordetella pertussis</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/IE:11'>study enrollment</a></td>
      <td>day -30</td>
      <td>day -30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day -30</td>
      <td>day -30</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href='/terminology/OBI:0000655'>blood specimen</a></td>
      <td>specimen:1-1</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/ONTIE:0003304'>vaccination</a></td>
      <td>day 1</td>
      <td>day 1</td>
      <td><a href='/terminology/VO:0000738'>DTaP vaccine (Diphtheria-Tetanus-Pertussis vaccine)</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day 1</td>
      <td>day 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href='/terminology/OBI:0000655'>blood specimen</a></td>
      <td>specimen:1-1</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href='/terminology/OBI:0000659'>specimen collection</a></td>
      <td>day 20</td>
      <td>day 20</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href='/terminology/OBI:0000655'>blood specimen</a></td>
      <td>specimen:1-2</td>
    </tr>
  </tbody>
</table>